@font-face
{
	font-family:'Pixeloid';
	src: url("fonts/PixeloidSansBold-RpeJo.ttf");
}
@keyframes triangle-bottom-color
{
	0%
	{
		border-bottom: 440px solid rgba(194, 98, 115, 1);
	}
	100%
	{
		border-bottom: 440px solid rgba(194, 98, 115, 0.9);
	}
}
@keyframes triangle-top-color
{
	0%
	{
		border-top: 440px solid rgba(27, 18, 134, 1);
	}
	100%
	{
		border-top: 440px solid rgba(27, 18, 134, 0.9);
	}
}
@keyframes triangle-shadow
{
	0%
	{
		transform: scale(1.0);
	}
	50%
	{
		transform: scale(1.2);
	}
	100%
	{
		transform: scale(1.0);
	}
}
@keyframes movelogo
{
	0% 
	{
		transform: translate3d(0px, 0px, 0px);
	}
	12% 
	{
		transform: translate3d(10px, -10px, 0px);
	}
	25%
	{
		transform: translate3d(20px, 0px, 0px);
	}
	50%
	{
		transform: translate3d(30px, -10px, 0px);
	}
	65%
	{
		transform: translate3d(20px, 0px, 0px);
	}
	75%
	{
		transform: translate3d(10px, -10px, 0px);
	}
	100% 
	{
		transform: translate3d(0px, 0px, 0px);
	}
}
@keyframes button-animation
{
	0%
	{
		/*border-left-width: 2px;
		border-bottom-width: 2px;*/
		font-size: 15px;
	}
	100%
	{
		border-left-width: 20px;
		border-bottom-width: 20px;
		font-size: 12px;
		
	}
	/*100%
	{
		border-left-width: 20px;
		border-bottom-width: 20px;
		font-size: 12px;
	}*/
}
@keyframes white-block-animation
{
	0%
	{
		transform: translateX(0px);
		background-color: rgba(222, 222, 222, 1);
	}
	25%
	{
		transform: translateX(400px);
		background-color: rgba(222, 222, 222, 1);
	}
	50%
	{
		transform: translateX(800px);
		background-color: rgba(222, 222, 222, 1);
	}
	65%
	{
		transform: translateX(900px);
		background-color: red;
	}
	75%
	{
		transform: translateX(1400px);
		background-color: red;
	}
	100%
	{
		transform: translateX(1550px);
		background-color: rgba(222, 222, 222, 1);
	}
}
/*h3
{
	font-family:Pixeloid;
	font-size: 20px;
}*/
body
{	
	margin: 0px auto;
	width: 1600px;
	height: 6000px;
	background-image: url(main_background.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	cursor: url("mouse/pixel.cur"), pointer;
}
header
{
	margin: 0px auto;
	z-index: 1000;
}
.header 
{
	position: fixed;
	top: 0;
	width: 1600px;
	height: 90px;
	background-color: white;
}
.header_content_part
{
	margin: 0px auto;
	width: 1200px;
	height: 90px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.wrapper
{
	display: flex;
	flex-direction: row;
}
.button_marketplace_container
{
	width: 200px;
	height: 90px;
}
.button_marketplace 
{
	border-style: solid;
	border-width: 2px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	background-color: white;
	width: 200px;
	height: 90px;
	font-family: 'Pixeloid';
	font-size: 15px;
	letter-spacing: -2px;
}
.button_marketplace:hover 
{
	animation: button-animation 0.5s forwards;
	cursor: url("mouse/pixel alternate.cur"), pointer;
}
.button_mygame_container
{
	width: 200px;
	height: 90px;
}
.button_mygame 
{
	border-style: solid;
	border-left-width: 1px;
	border-bottom-width: 1px;
	background-color: white;
	width: 200px;
	height: 90px;
	font-family: 'Pixeloid';
	font-size: 15px;
	letter-spacing: -2px;
}
.button_mygame:hover
{
	animation: button-animation 0.5s forwards;
	cursor: url("mouse/pixel alternate.cur"), pointer;
}
.logo_container
{
	width: 50px;
	height: 50px;
	transform: translate(-50%, 0);
	position: absolute;
	left: 50%;
	animation: movelogo 4s linear infinite;
}
.logo_container img 
{
	object-fit: cover;
}
.button_startgame_container
{
	width: 200px;
	height: 90px;
}
.button_startgame 
{
	border-style: solid;
	border-bottom-width: 1px;
	background-color: white;
	width: 200px;
	height: 90px;
	font-family: 'Pixeloid';
	font-size: 15px;
	letter-spacing: -2px;
}
.button_startgame:hover 
{
	animation: button-animation 0.5s forwards;
	cursor: url("mouse/pixel alternate.cur"), pointer;
}
.main_container
{
	position: relative;
	top: 600px;
	left: 0;
	/*margin-top: 500px;*/
	width: 1600px;
	height: 600px;
	background-color: white;
}
.white_cube 
{
	width: 50px;
	height: 50px;
	background-color: rgba(222, 222, 222, 1);
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	animation: white-block-animation 8s linear infinite;
	z-index: 1;
	opacity: 80%;
}
.main_container_content_part
{
	margin: 0px auto;
	width: 1200px;
	height: 600px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.information_container
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: 400px;
	font-family: 'Pixeloid';
	font-size: 20px;
	letter-spacing: -2px;
	z-index: 10;
}
.video_container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 600px;
	padding-top: 50px;
}
.preview_container
{
	width: 400px;
	height: 330,75px;
	z-index: 100;
}
.preview_container img 
{
	object-fit: cover;
}
.button_join
{
	width: 250px;
	height: 50px;
	font-family: 'Pixeloid';
	font-size: 17px;
	letter-spacing: 3px;
	border-style: solid;
	border-width: 2px;
	background-color: white;
	margin-top: 20px;
	transition: 0.3s;
}
.button_join:hover 
{
	cursor: url("mouse/pixel alternate.cur"), pointer;
	border-bottom-width: 10px;
	border-left-width: 10px;
	transition: 0.5s;
	font-size: 12px;
}
.presentation_container
{
	position: relative;
	top: 1300px;
	left: 0;
	width: 1600px;
	height: 1500px;
	background-color: white;
}
.presentation_container_content_part
{
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	width: 1200px;
	height: 1500px;
	padding-top: 52px;
}
.slogan_container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.studio_name
{
	font-family: 'JetBrains Mono';
	font-size: 35px;
	letter-spacing: 4px;
	opacity: 80%;
}
.game_name
{
	font-family: 'JetBrains Mono';
	font-size: 60px;
	letter-spacing: -1px;
	margin-top: 20px;
	opacity: 80%;
}
.presentation 
{
	position: relative;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	height: 690px;
	width: 1200px;
	display: flex;
	flex-direction: row;
	margin-top: 100px;
}
.first_mechanics
{
	width: 400px;
	height: 690px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.first_mechanics_icon
{
	width: 250px;
	height: 250px;
	opacity: 85%;
	box-shadow: 5px 5px gray;
	/*background-color: lightgray;*/
}
.first_mechanics_icon img 
{
	width: 250px;
	height: 250px;
	object-fit: contain;
}
.first_mechanics_text
{
	margin-top: 30px;
	font-family: 'Pixeloid';
	font-size: 12px;
	width: 250px;
	display: flex;
	text-align: center;
	line-height: 18px;
	letter-spacing: -1px;
	word-spacing: 2px;
	z-index: 100;
	background-color: white;
	margin-left: 2px;
	padding: 10px 5px;
	box-shadow: 5px 5px gray;
}
.second_mechanics
{
	width: 400px;
	height: 690px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}
.second_mechanics_icon
{
	width: 250px;
	height: 250px;
}
.second_mechanics img 
{
	width: 250px;
	height: 250px;
	object-fit: contain;
}
.second_mechanics_text
{
	margin-top: 30px;
	font-family: 'Pixeloid';
	font-size: 12px;
	width: 250px;
	display: flex;
	text-align: center;
	line-height: 18px;
	letter-spacing: -1px;
	word-spacing: 2px;
	z-index: 100;
	padding: 10px 5px;
	box-shadow: 5px 5px gray;
}
.third_mechanics
{
	width: 400px;
	height: 690px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}
.third_mechanics_icon
{
	width: 250px;
	height: 250px;
}
.third_mechanics_icon img 
{
	width: 250px;
	height: 250px;
	object-fit: cover;
}
.third_mechanics_text
{
	margin-bottom: 30px;
	font-family: 'Pixeloid';
	font-size: 12px;
	width: 250px;
	display: flex;
	text-align: center;
	line-height: 18px;
	letter-spacing: -1px;
	word-spacing: 2px;
	z-index: 100;
	background-color: white;
	margin-right: 5px;
	padding: 10px 5px;
	box-shadow: 5px 5px gray;
}
.triangle_bottom
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-bottom: 440px solid rgba(194, 98, 115, 1);
	border-right: 516px solid transparent;
	animation: triangle-bottom-color 0.2s linear infinite;
}
.triangle_top
{
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	border-top: 440px solid rgba(157, 128, 149, 1);
	border-left: 516px solid transparent;
	animation: triangle-top-color 0.2s linear infinite;
}

/**/