@font-face
{
	font-family:'Pixeloid';
	src: url("fonts/PixeloidSansBold-RpeJo.ttf");
}

body
{	
	margin: 0px auto;
	width: 1600px;
	height: 6000px;
	background-image: url(main_background.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	cursor: url("mouse/pixel.cur"), pointer;
	overflow-x: hidden;
}
.account_wrapper
{
	margin: 70px auto;
	width: 1250px;
	height: 600px;
	background-color: white;
	box-sizing: border-box;
	border: solid, black;
	border-width: 20px;
}